table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid blue;
    padding: 10px;
    min-width: 100px;
}
img{
    height: 100px;
    width: 100px;
}